{% extends 'incs/_page.html' %}

{% load static %}



{% block breadcumb %}
    <li class="breadcrumb-item active"><a href="#">Home</a></li>
{% endblock %}


{% block content %}
    <h2>New posts</h2>
    {% if lastest_posts %}
    {% for post in lastest_posts %}
    <a href="{% url 'techblog:post_detail' post.id %}">
        <div class="jumbotron" style="padding:30px;">
            <div class="row">
                <!-- <div class="col-md-3">
                    Picture
                </div>-->
                <div class="col-md-12" > 
                    <h3><strong>{{post.title}}</strong></h3>
                    <h4><b>Topic:</b>{{post.topic.title}}</h4>
                    <h5><b>Date created: </b>{{post.time_created}}</h5>
                    <h5><b>Author: </b>{{post.poster}}</h5>  
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
    {% else %}
    <h3>No post exist.</h3>
    {% endif %}
{% endblock %}

{% block ext_content %}
<h2>New topics</h2>
<div class="row">
    {% if lastest_topics %}
    {% for topic in lastest_topics %}
    <a href="{% url 'techblog:topic_detail' topic.id %}">
    <div class="col-md-3">
        <div class="jumbotron"style="padding:10px;">
            <h3>{{topic.title}}</h3>
            <h4>{{topic.description}}</h4>
        </div>
    </div>
    </a>
    {% endfor %}
    {% else %}
    <div class="col-md-12">
        <h3>No topic exist.</h3>
    </div>
    {% endif %}
</div>
{% endblock %}
